.follow__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-color);
}

.follow__list {
  display: flex;
  margin-top: 20px;
}

.follow__item:not(:last-child) {
  margin-right: 10px;
}

.follow__icon {
  fill: currentColor;
}
